$navbar-item-hover-background-color:#2E8CB8;
@import "node_modules/bulma/bulma";

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #fbf3e8;
}

#app-nav {
    background-color: #3298c8;
}
#app-nav a {
    color: white;
}